<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="cms_duplicator" frontName="cms_duplicator">
            <module name="Element119_CmsDuplicator"/>
        </route>
    </router>
</config>
